/*==================================================
  privacy-policy Specific Styles (assets/css/privacy-policy.css)
==================================================*/

.subhero {
  /* companyのsubhero専用の画像を指定 */
  background: url("../img/subhero-company-bg.webp") center/cover no-repeat;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  .subhero {
    background-attachment: scroll;
  }
}